{{#each this}}
  <li class="gallery__item">
    <div class="photo-card">
      <img class="lazy"
      loading="lazy"
      data-lazy="{{webformatURL}}"
      data-source="{{largeImageURL}}"
      alt="{{type}}"/>

      <div class="stats">
        <p class="stats-item">
          <i class="material-icons">thumb_up</i>
          {{likes}}
        </p>

        <p class="stats-item">
          <i class="material-icons">visibility</i>
          {{views}}
        </p>

        <p class="stats-item">
          <i class="material-icons">comment</i>
          {{comments}}
        </p>

        <p class="stats-item">
          <i class="material-icons">cloud_download</i>
          {{downloads}}
        </p>
      </div>
    </div>
  </li>
{{/each}}
